<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" >Demo App</a>
    <ul class="nav navbar-nav customLink">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/search-route']" routerLinkActive="router-link-active" >Search</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product-route']" routerLinkActive="router-link-active" >Product</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user-route']" routerLinkActive="router-link-active" >User</a>
        </li>
    </ul>
  </nav>
