<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand">Demo App</a>
  <ul class="nav navbar-nav customLink">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[routes.home]" routerLinkActive="router-link-active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[routes.search]" routerLinkActive="router-link-active">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[routes.user]" routerLinkActive="router-link-active">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[routes.userV2]" routerLinkActive="router-link-active">Userv2</a>
    </li>
  </ul>
</nav>
