<h4>User List</h4>
<div *ngIf="readyLoad==1">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Sex</th>
        <th scope="col">Tel</th>
        <!-- <th scope="col">Avatar</th> -->
        <th scope="col">createdAt</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr RowHover *ngFor='let user of userList; let i = index'>
        <td>{{user.id}}</td>
        <td [ngClass]="{
          'rowEven': i%2==0,
          'rowOdd': i%2!=0
          }">{{user.name | uppercase}}</td>
        <td>{{user.email}}</td>
        <td>{{user.sex}}</td>
        <td>{{user.tel}}</td>
        <td>{{user.createdAt | date: 'dd/MM/yyyy'}}</td>
        <td><a [routerLink]="['/user/',user.id]" routerLinkActive="router-link-active">Edit</a></td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center;">
    <ngb-pagination class="d-flex justify-content-center" [(page)]="pageIndex" [pageSize]="pageSize"
      [collectionSize]="pageTotal" (pageChange)="Navigate($event)">
    </ngb-pagination>
  </div>
</div>
