<div *ngIf="!hideButton">
  <button type="button" class="btn btn-primary" (click)="onAddNew()">
    Add New
  </button>
  <button type="button" class="btn btn-primary  btnSecond" (click)="onReload()">
    Reload
  </button>
</div>

<div *ngIf="!showList">
  <app-add-user (addUserFinishEvent)='getEventFromAddUser($event)'></app-add-user>
</div>

<div *ngIf="showList">
  <div *ngIf="loading else loadDone" style="margin-bottom: 20px;">
    loading ...
  </div>

  <ng-template #loadDone>
    <app-userlist [readyLoad]='1' [isReload]='isReload'></app-userlist>
  </ng-template>
</div>
